*
*::before,
*::after {
box-sizing: border-box;
}

body {
    border: 5px solid green;
}

header {
    border: 4px solid yellow;
}

main {
    border: 4px solid yellow;
}

.tagcloud {
    border: 3px solid red;
}
.interests {
    border: 3px dashed orangered;
}
.favorites {
    border: 3px dashed orangered;
}
.contact {
    border: 4px solid blueviolet;
}
.links {
    border: 4px solid blue;
}
.GitHub {
    border: 3px dotted lightblue;
}
.CodePen {
    border: 3px dotted lightblue;
}
.LinkedIn {
    border: 3px dotted lightblue;
}
.about {
    border: 4px solid red;
}
.cv {
    border: 4px solid silver;
}
.footer {
    border: 4px solid black;
}